@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&family=Edu+NSW+ACT+Foundation:wght@700&family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
}

img {
  aspect-ratio: 1;
}

nav,
footer {
  background-color: #1f2937;
  color: white;
}

nav {
  height: 5rem;
  font-size: 1.5em;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  z-index: 1;
}

nav img {
  height: 100%;
  margin-left: 5%;
}

nav ul {
  list-style: none;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

nav a:hover {
  background-color: rgb(55, 82, 120);
}

#hero {
  width: 100vw;
  height: 80vh;
  padding: 2rem 0 1rem 0;
  color: white;
  background-image: url("./assets/ducks.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-border {
  border: 5px solid lightblue;
  border-radius: 50rem;
  height: 100%;
}

.hero-border.exterior {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 60%;
  padding: 0.5rem;
  background-color: #1f2937d6;
}

.hero-border.interior {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-content {
  width: 40%;
  margin-left: 5rem;
}

.hero-content-title {
  text-align: center;
  width: 100%;
  font-family: "Cormorant SC", serif;
}

.hero-content-title h1 {
  text-shadow: 0px 0px 20px;
}

.hero-content-title h1 span {
  animation: rainbow-text 2s linear infinite;
}

.hero-content p {
  margin: 0 auto;
  width: 60%;
  padding: 2rem 0;
}

.button {
  width: fit-content;
  display: block;
  border: 2px solid white;
  padding: 1rem;
  border-radius: 20px;
  background-color: #3882f6;
  color: white;
}

.hero-content .button {
  margin: 0 auto;
  background-color: #3881f688;
}

.button:hover {
  cursor: pointer;
  background-color: #1f67dc;
}

.button:active {
  background-color: #0345af;
}

#hero img {
  height: 90%;
  border-radius: 50rem;
  border: 10px solid lightblue;
}

main {
  width: 100vw;
}

#info h2 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  padding: 2rem 0;
}

#info > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 4rem 0;
  width: 75%;
  margin: 0 auto;
}

.box {
  /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  width: 250px;
}

.box img {
  display: block;
  width: 200px;
  height: 200px;
  border: 6px solid #3882f6;
  border-radius: 10px;
  margin: 0 auto;
  object-fit: cover;
}

.box p {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: 1.5em;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

#quote-section {
  background-color: #e5e7eb;
  padding: 5rem 0;
}

.quote {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.quote-text {
  font-size: 2em;
  font-style: italic;
  color: #1f2937;
}

.quote-text i {
  font-size: 0.7em;
}

.quote-author {
  padding-top: 1.5rem;
  text-align: right;
  font-size: 1.5em;
  font-weight: 600;
}

#call-to-action {
  margin: 5rem auto;
  padding: 2rem 0;
  width: 50%;
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#call-to-action div:first-child {
  font-size: 1.5em;
}

footer {
  padding: 1rem 0;
  text-align: center;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#popover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: #000000ad;
  width: 100vw;
  height: 100vh;
}

.popover-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border: 2px solid #3882f6;
  border-radius: 30px;
  pointer-events: initial !important;
  user-select: initial !important;
  z-index: 2;
}

@keyframes rainbow-text {
  0% {
    color: var(--c1);
  }
  16.66% {
    color: var(--c2);
  }
  33.32% {
    color: var(--c3);
  }
  50% {
    color: var(--c4);
  }
  66.65% {
    color: var(--c5);
  }
  83.3% {
    color: var(--c6);
  }
  100% {
    color: var(--c1);
  }
}
